<p id="notice"><%= notice %></p>

<p>Note: also add logic to not show appointments where time has passed.</p>
<p>+ order them from most recent using time</p>
<h1>Viewing all listings</h1>

<%= render "listingsformat" %>
