<div class="dropdown"> 
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
  Change city</button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <%# <%= link_to "Melbourne", listings_path, style: "dropdown-item" %> %>
    <a class="dropdown-item" href="/listings">See All</a>
    <a class="dropdown-item" href="#">Sydney</a>
    <a class="dropdown-item" href="/melbourne">Melbourne</a>
  </div>
</div>

<h1> Listings in Melbourne: </h1>
<%= render "listingsformat" %>
