<h1>New Appointment Listing</h1>
<br>
<p>Please fill out the form below to list your available appointments. Customers will be able to reserve this booking immediately and pay you on site during their appointment.</p>

<%= render 'form', listing: @listing %>

<%= link_to 'Back', listings_path %>
