<h1> Successfully placed order ! </h1>
<%# note: add info about current_users name, as well as all details about the time and location
of appointment. %>

<h1>Congratulations! You have successfully booked X at <%= appointment.listing.business %>, for TIME on DAY. </h1>
<h2>To get in contact about your appointment, contact: </h2>