<%# <h1>Pages#home</h1> %>
<h1>The #1 place to find last minute beauty appointments in your city! 🤎 </h1>
<br>
<p> Provide a service and want to start listing appointments? Sign up <a href="/users/sign_up">here</a>. </p>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="row">
    <div class="col-md-6">
    <p>melbourne</p>
    </div>
    <div class="col-md-6">
    <p>sydney</p>

    </div>
</div><p>gold coast</p>
<p>brisbane</p>
<p>perth</p>

